<!DOCTYPE html>
<html>
  <head>
    <title>Akira Inman</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Taviraj:200" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
