html, body {
  margin: 0;
  height: 100vh;
}

.edit-btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.main-container {
  height: 100vh;
  margin: 0;
  top: 0;
}

.main-container ul {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.main-container .above {
  position: absolute;
  display: none;
  -webkit-transform: translateY(-200vh);
          transform: translateY(-200vh);
  -webkit-transition: all 1.1s cubic-bezier(.49,0,.38,.97);
  transition: all 1.1s cubic-bezier(.49,0,.38,.97);
}

.main-container .active {
  position: absolute;
  display: list-item;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 1.1s cubic-bezier(.49,0,.38,.97);
  transition: all 1.1s cubic-bezier(.49,0,.38,.97);
}

#main-img {

  -webkit-animation-name: imgSlideIn;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(.45,.25,.59,.98);
  -webkit-animation-duration: .8s;
  animation-name: imgSlideIn;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.45,.25,.59,.98);
  -webkit-animation-duration: 1.1s;
          animation-duration: 1.1s;
}

@-webkit-keyframes imgSlideIn {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes imgSlideIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.main-container .below {
  position: absolute;
  display: list-item;
  -webkit-transform: translateY(200vh);
          transform: translateY(200vh);
  -webkit-transition: all 1.1s cubic-bezier(.49,0,.38,.97);
  transition: all 1.1s cubic-bezier(.49,0,.38,.97);
}

.main-container .images {
  position: fixed;
}

.main-container .imageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
}

.main-container .imageContainer img {
  height: 82vh;
  max-width: 100vw;
  -o-object-fit: contain;
     object-fit: contain;
  /*width: auto;*/
  /*height: auto;*/
  -webkit-animation:load_up 1s forwards;
          animation:load_up 1s forwards;
}

.main-container #main-img img{
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-container .projectTitle {
  font-family: "helvetica", serif;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  color: #292a2a;
}

.main-container .titleBar-main {
  position: fixed;
  font-size: calc(.5em + 1vw);
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 20%;
  background-color: white;
  bottom: 0%;
  -webkit-transition: all .95s cubic-bezier(.49,0,.38,.97);
  transition: all .95s cubic-bezier(.49,0,.38,.97);
}
.main-container .titleBar-up {
  position: fixed;
  font-size: 60%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 9%;
  bottom: 0%;
  background-color: white;
  -webkit-transform: translateY(-91vh);
          transform: translateY(-91vh);
  -webkit-transition: all .9s cubic-bezier(.49,0,.38,.97);
  transition: all .9s cubic-bezier(.49,0,.38,.97);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.main-container .titleBar-up-hidden {
  position: fixed;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 60%;
  width: 100vw;
  height: 9%;
  bottom: 0;
  background-color: white;
  -webkit-transform: translateY(-120vh);
          transform: translateY(-120vh);
  -webkit-transition: all .9s cubic-bezier(.49,0,.38,.97);
  transition: all .9s cubic-bezier(.49,0,.38,.97);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#titleBar {
 -webkit-animation-name: titleSlideIn;
 -webkit-animation-iteration-count: .5s;
 -webkit-animation-timing-function: cubic-bezier(.45,.25,.59,.98);
 -webkit-animation-duration: .5s;
 -webkit-animation-fill-mode: backwards;
 animation-name: titleSlideIn;
 -webkit-animation-iteration-count: 1;
         animation-iteration-count: 1;
 animation-timing-function: cubic-bezier(.45,.25,.59,.98);
 animation-duration: .5s;
 -webkit-animation-delay: 1s;
         animation-delay: 1s;
 animation-fill-mode: backwards;
}

@-webkit-keyframes titleSlideIn {
   0% {
     -webkit-transform: translateY(100%);
             transform: translateY(100%);
   }
   100% {
     -webkit-transform: translateY(0);
             transform: translateY(0);
   }
}

@keyframes titleSlideIn {
 0% {
   -webkit-transform: translateY(100%);
           transform: translateY(100%);
 }
 100% {
   -webkit-transform: translateY(0%);
           transform: translateY(0%);
 }
}

.main-container #titleBar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  height: 50%;
}

.main-container .nav {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}

.main-container .previousArrow {
  background-image: url("../fonts/ChevronLeft.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 30px;
  height: 30px;
}

.main-container .nextArrow {
  background-image: url("../fonts/ChevronRight.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 30px;
  height: 30px;
}

.main-container #previous {
  padding-right: 2%;
  -webkit-transition: .45s ease-in-out;
  transition: .45s ease-in-out;
}

.main-container #next {
  padding-left: 2%;
  -webkit-transition: .45s ease-in-out;
  transition: .45s ease-in-out;
}

.main-container .previousTitle {
  font-family: "helvetica", serif;
  text-transform: capitalize;
  text-align: right;
  font-size: calc(.5em + .3vw);
  line-height: 100%;
  letter-spacing: 0.11em;
  opacity: 0;
  padding-right: 10%;
  -webkit-transition-duration: .45s;
          transition-duration: .45s;
}

.main-container .nextTitle {
  font-family: "helvetica", serif;
  text-transform: capitalize;
  text-align: left;
  font-size: calc(.5em + .3vw);
  line-height: 100%;
  letter-spacing: 0.11em;
  opacity: 0;
  padding-left: 5%;
  -webkit-transition-duration: .45s;
          transition-duration: .45s;
}

@media screen and (max-width: 760px) {
  .main-container .previousTitle, .nextTitle {
    display: none;
  }
  .main-container #previous {
    padding-right: 7%;
  }
  .main-container #next {
    padding-left: 7%;
  }
}

.main-container .next:hover {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.main-container .previous:hover {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.main-container a:hover .previousTitle {
  opacity: 1;
}

.main-container a:hover .nextTitle {
  opacity: 1;
}

.main-container .sliderControls {
  list-style-type: none;
  position: fixed;
  padding-top: 30vh;
  height: 100vh;
  width: 20px;
  right: 27.5px;
  top: 0;
  -webkit-transition: all 1.1s cubic-bezier(.49,0,.38,.97);
  transition: all 1.1s cubic-bezier(.49,0,.38,.97);
}

.main-container .sliderControls {
  -webkit-animation-name: slidersSlideIn;
  -webkit-animation-iteration-count: .5s;
  -webkit-animation-timing-function: cubic-bezier(.45,.25,.59,.98);
  -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode: backwards;
  animation-name: slidersSlideIn;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.45,.25,.59,.98);
  animation-duration: .5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  animation-fill-mode: backwards;
}

@-webkit-keyframes slidersSlideIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slidersSlideIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.main-container .sliderControls-hidden {
  list-style-type: none;
  position: fixed;
  padding-top: 30vh;
  height: 100vh;
  width: 4%;
  right: -75px;
  top: 0;
  -webkit-transition: all 1.1s cubic-bezier(.49,0,.38,.97);
  transition: all 1.1s cubic-bezier(.49,0,.38,.97);
}

.main-container .sliderControls li {
  height: 10px;
  width: 20px;
  -webkit-transition: .45s ease-in-out;
  transition: .45s ease-in-out;
  -webkit-transition: all 1.1s cubic-bezier(.49,0,.38,.97);
  transition: all 1.1s cubic-bezier(.49,0,.38,.97);
}

.main-container .sliderControls-hidden li {
  height: 10px;
  width: 20px;
  -webkit-transition: .45s ease-in-out;
  transition: .45s ease-in-out;
  -webkit-transition: all 1.1s cubic-bezier(.49,0,.38,.97);
  transition: all 1.1s cubic-bezier(.49,0,.38,.97);
}

.main-container .sliderControl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  height: 2px;
  width: 30px;
  background-color: black;
  -webkit-transition: all 1.1s cubic-bezier(.49,0,.38,.97);
  transition: all 1.1s cubic-bezier(.49,0,.38,.97);
}

.main-container #focus {
  height: 200px;
}

.main-container .close-icon-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #292A2A;
  height: 70px;
  width: 70px;
  max-height: 9vh;
  max-width: 9vh;
  top: 0;
  right: 0;
}

.main-container .close-icon-container {
  -webkit-animation-name: closeSlideIn;
  -webkit-animation-iteration-count: .5s;
  -webkit-animation-timing-function: cubic-bezier(.45,.25,.59,.98);
  -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode: backwards;
  animation-name: closeSlideIn;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.45,.25,.59,.98);
  animation-duration: .5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  animation-fill-mode: backwards;
}

@-webkit-keyframes closeSlideIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes closeSlideIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.main-container .close-icon-container-hidden {
  position: fixed;
  background-color: #292A2A;
  height: 70px;
  width: 70px;
  max-height: 9vh;
  max-width: 9vh;
  top: 0;
  right: -75px;
  -webkit-transition: all 1.1s cubic-bezier(.49,0,.38,.97);
  transition: all 1.1s cubic-bezier(.49,0,.38,.97);
}

.main-container .close-icon {
  background-image: url(../fonts/x.png);
  background-size: cover;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 30px;
  width: 30px;
  behavior: url(PIE.htc);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.main-container .info-icon-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #292A2A;
  height: 70px;
  width: 70px;
  max-height: 9vh;
  max-width: 9vh;
  top: 0;
  left: 0;
  -webkit-transition: all 1.1s cubic-bezier(.49,0,.38,.97);
  transition: all 1.1s cubic-bezier(.49,0,.38,.97);
}

.main-container .info-icon-container {
  -webkit-animation-name: infoSlideIn;
  -webkit-animation-iteration-count: .5s;
  -webkit-animation-timing-function: cubic-bezier(.45,.25,.59,.98);
  -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode: backwards;
  animation-name: infoSlideIn;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.45,.25,.59,.98);
  animation-duration: .5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  animation-fill-mode: backwards;
 }

 @-webkit-keyframes infoSlideIn {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
 }

 @keyframes infoSlideIn {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
 }

.main-container .info-icon-container-hidden {
  position: absolute;
  background-color: #292A2A;
  height: 70px;
  width: 70px;
  max-height: 9vh;
  max-width: 9vh;
  top: 0;
  left: -70px;
  -webkit-transition: all 1.1s cubic-bezier(.49,0,.38,.97);
  transition: all 1.1s cubic-bezier(.49,0,.38,.97);
}

.main-container .close-icon-container:hover .close-icon {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.main-container .info-icon {
  position: absolute;
  background-image: url(../fonts/i.png);
  background-size: cover;
  height: 30px;
  width: 30px;
  behavior: url(PIE.htc);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.main-container .info-icon-container:hover .info-icon {
  background-image: url(../fonts/x.png);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.main-container .info-container{
  position: fixed;
  overflow: hidden;
  background-color: #292A2A;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  -webkit-transition: all 1s cubic-bezier(.34,.85,.68,.97);
  transition: all 1s cubic-bezier(.34,.85,.68,.97);
}

.main-container .info-container-open {
  position: fixed;
  overflow: hidden;
  background-color: #292A2A;
  height: 100vh;
  width: 50vw;
  top: 0;
  left: 0;
  -webkit-transition: all 1s cubic-bezier(.34,.85,.68,.97);
  transition: all 1s cubic-bezier(.34,.85,.68,.97);
}

.main-container .info-container-open + .info-icon-container .info-icon {
  position: absolute;
  background-image: url(../fonts/x.png);
  background-size: cover;
  height: 30px;
  width: 30px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  behavior: url(PIE.htc);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.main-container .info-container-open + .info-icon-container:hover .info-icon{
  background-image: url(../fonts/x.png);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main-container .infoTextContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  top: 10%;
  width: 50vw;
  -webkit-transition: all 1 cubic-bezier(.34,.85,.68,.97);
  -webkit-transition: all 1s cubic-bezier(.34,.85,.68,.97);
  transition: all 1s cubic-bezier(.34,.85,.68,.97);
}

.main-container .infoTextContainerOpen {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  top: 10%;
  width: 50vw;
  -webkit-clip-path: polygon(0% 0%,90% 0%,90% 100%,0% 100%);
  -webkit-transition: all 1s cubic-bezier(.34,.85,.68,.97);
  transition: all 1s cubic-bezier(.34,.85,.68,.97);
}

.main-container .innerTextContainer {
  position: relative;
  width: 40vw;

}

.main-container .infoTextContainer h3, .infoTextContainerOpen h3 {
  text-align: center;
  font-size: calc(.7em + .8vw);
  font-family: "helvetica", serif;
  text-transform: capitalize;
  text-align: left;
  color: white;
  letter-spacing: 0.11em;
}

.main-container .infoTextContainer p, .infoTextContainerOpen p {
  font-family: "helvetica", serif;
  font-size: calc(.4em + .6vw);
  text-transform: capitalize;
  text-align: left;
  color: white;
  letter-spacing: 0.09em;
}

.main-container .pageFade {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  top: 0;
  -webkit-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;
  pointer-events: none;
}

.main-container .pageFadeOn {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
  top: 0;
  -webkit-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;
}

.main-container .index-container {
  @import url("mian.css");
}

/*===========================================================================*/
/*===========================================================================*/
/*===========================================================================*/

.index-container {
  position: fixed;
  height: 100vh;
  margin: 8.3%;
  top: 200vh;
  -webkit-transition: all 1.1s cubic-bezier(.49,0,.38,.97);
  transition: all 1.1s cubic-bezier(.49,0,.38,.97);
}

.show-no-scroll {
  position: absolute;
  top: 0;
  height: 100vh;
  -webkit-transition: all 1.1s cubic-bezier(.49,0,.38,.97);
  transition: all 1.1s cubic-bezier(.49,0,.38,.97);
}

.show {
  position: absolute;
  top: 0;
  height: auto;
  -webkit-transition: all 1.1s cubic-bezier(.49,0,.38,.97);
  transition: all 1.1s cubic-bezier(.49,0,.38,.97);
}

.index-container h1 {
  font-family: "helvetica", serif;
  color: #777777;
  letter-spacing: 0.11em;
}

.index-container h3 {
  font-family: "helvetica", serif;
  color: #777777;
  letter-spacing: 0.11em;
}

.index-container p {
  font-family: "helvetica", serif;
  color: #777777;
}

.index-container h3:after {
  width: 30px;
  height: 1px;
  background: #dcdcdc;
  content: " ";
  display: block;
  margin-top: 15px;
}

.index-container .about-info {
  width: 50%;
  float: left;
}

.index-container .about-contact {
  width: 30%;
  float: right;
}

.index-container .contact-left {
  width: 50%;
  float: left;
}

.index-container .contact-right {
  width: 50%;
  float: right;
  text-align: right;
}

.index-container .projects {
  padding-top: 50px;
  float: left;
}

.index-container .project {
  float: left;
  position: relative;
  overflow: hidden;
  width: 48%;
  margin-right: 4%;
  margin-bottom: 4%;
}

.index-container img {
  max-width: 100%;
  border: none;
  height: auto;
  display: block;
  float:left;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
}

.index-container .text-container {
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 20%;
  bottom: 0;
  -webkit-transform: translate3d(0,100%,0);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
}

.index-container h5 {
  color: #777777;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  height: 30%;
  width: 100%;
  font-size: 17px;
  font-family: "helvetica", serif;
  text-align: center;
}

.index-container .project:nth-of-type(2n+2) {
 margin-right: 0;
}

.index-container a:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  filter: grayscale(100%);
  -webkit-filter: blur(1px) grayscale(100%);
}

.index-container a:hover .text-container {
  -webkit-transform: translate3d(0,0,0);
}

@media screen and (max-width: 830px) {
  .index-container .contact-right {
    float: none;
    text-align: left;
  }
}

@media screen and (max-width: 700px) {
  .index-container .project {
    width: 100%;
  }

  .index-container .project:nth-of-type(2n+2) {
   float: none;
   margin-right: none;
  }
}
